@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

/* header areaaaa */

/* header{
    background-color: #2D25A0;
    padding-top: 8px;
    
}
nav {
    display: flex;
    justify-content: space-around;
    
}
#login-button{
    font-size: 1em;
    color: white;
    border: none;
    padding:8px 20px;
    border-radius: 10px;
    background-color:#E02C6D;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
} */

/* header area end */


/*--- hero area ---*/

.hero-section{
    background: #2D25A0;
    margin-bottom: 70px;
    padding: 2%;
    
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.half-width{
    width: 45%;
}
.half-width h1{
    color: white;
    font-size: 64px;
}
.half-width img{
    width: 557px;
    height: 438px;
}
.anchor-btn{
    background: #E02C6D;
    width: 168px;
    height: 44px;
    border: none;
    color: white;
}

/* player section start */

.player-area{
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 165px;
}
.player-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    justify-items: center;
    align-items: center;
}
.player{
    width: 300px;
    height: auto;
    padding: 8px;
    box-shadow: 10px 10px 16px rgb(183, 192, 200);
}
.player img{
    width: 100%;
}

/* player area end here */

/* last part start */

.highlights-area{
    width: 80vw;
    margin:0 auto;
    margin-bottom: 70px;
    
}
.match-highlights{
    display: flex;
    justify-content: center;
    align-items: center;
}
.match-thumbnail img{
    width: 567px;
    height: 427px;
}

/* fooooter areaaaa */

.footer-area{
    width: 80vw;
    /* height: auto; */
    /* background-color: rgb(158, 71, 71); */
    margin: 0 auto;
    /* padding: 10px; */
}

.footer-container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  
}
.box{
    width: 40vw;
    height: 30vh;
    position: relative;
    
}
.footer-logo img{
    width: 485px;
    height: 110px;
}

.social-connection{
    position: absolute;
    width: 19vw;
    top: 112px;
    left: 0px;
    right: 0px;
    bottom: 0;
    margin: auto;
}
.social-connection a{
    color: rgba(110, 98, 98, 0.411);
    font-size: 1em;
    margin-right:8px ;
}

/* media query start here */

@media screen and (max-width:687px) {
    

    .hero-section{
        width: 100%;
        /* background-color:yellow; */
        
    }
   .half-width{
       width: 100%;
   }
    .half-width img{
        width: 100%;
    }
    .container{
        flex-direction: column;

    }
   
    .player-info{
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .match-highlights{
        display: flex;
        flex-direction: column;
    }
    .highlights-area{
        margin-bottom: 30px;
    }
    .match-thumbnail img{
        width:100% ;
        height: auto;
        margin-top: 40px;
    }
    
    .box{
        width: 100%;
    }
    .social-connection {
        width: auto;
    }
   
    .footer-logo img{
        width: 100%;
    }

}